.charactersheet {
    td {
        &.max {
            border: 1px solid darken($light, 15);
        }

        &.current {
            background-color: darken($light, 5);
        }
    }

    table {
        &.no-padding {
            td {
                padding: 0;

                @media screen and (max-width: 768px) {
                    padding: 0 10px;
                }
            }

            &.tableSanity {
                td {
                    @media screen and (max-width: 768px) {
                        padding: 0;
                    }
                }
            }
        }
    }
}