.charactersheet {
    td {
        &.max {
            border: 1px solid darken($light, 15);
        }

        &.current {
            background-color: darken($light, 5);
        }
    }

    table {
        &.tableSanity {
            td {
                padding: 0;
            }
        }
    }
}