/*Title section */

.titleSection {
    .navbar-brand {
        white-space: normal;
    }
}

/* mainNavigation */

#mainNavigation {
    a {
        color: $primary;

        &:hover {
            color: $secondary;
            background-color: $primary;
        }
    }

    .active {
        background-color: $primary;
    }
}

/*Start selectPC */

#startSelectChar {
    figure {
        width: 180px;
    }

    img {
        width: 100%;
    }
}