.btn {
    white-space: normal;
}

.uc {
    text-transform: uppercase;

}

.headline {
    font-family: 'Headline', sans-serif;
    font-weight: bold;
}

.label {
    font-weight: bold;
}

.charAttributes small {
    line-height: 120%;
}